@import '../../index.scss'; 

.edu-container {
    @include centerRow; 
    height: 500px;
}

.edu-card {
    align-items: center;
}

.edu-program {
    font-family: $title;
    font-size: 1.75em;
    border-bottom: solid 1px $offwhite;
}

.edu-icon {
    height: 150px;
    width: 150px;
    background-color: $offwhite;
    border-radius: 50%;
    margin: 20px; 
    @include boxShadow;
    @include centerRow;
    color: $darkpurple; 
}

.edu-school {
    margin: 10px; 
}

