@import '../../index.scss'; 

.project-card {
    @include centerColumn; 
}

.project-details, .project-links, .tech-stack {
    @include centerRow; 
}

.project-title {
    margin: 20px;
    padding: 10px;
    color: $darkpurple; 
    width: 30%; 
    border-style: none none solid solid; 
    border-color: $offwhite; 
}

.project-desc {
    width: 50%;
    padding: 15px; 
}

.tech-card {
    padding: 30px;
    background-color: $cream;
    border-radius: 10px;
}

.project-media {
    width: 90%;
    border: double $purple; 
}

.code-link, .deploy-link {
    border: solid $offwhite; 
    margin-top: 3%; 
}