@import '../../index.scss';

.app-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

main {
    margin-left: 200px; 
}

.section-title {
    margin: 4em 1em 0;
    font-size: 2.5rem;
    font-family: $title;
    color: $purple;
}

p {
    margin: 10px; 
}