@import '../../index.scss'; 

nav {
    position: fixed; 
    left: 0; 
    width: 200px;
    height: 100%;
    background-color: blue;
}

.navbar-container {
    @include centerColumn; 
    background-color: $offwhite;
    border-right: 1px solid $purple; 
}

.nav-btn {
    margin: 15px;
    color: $darkpurple;
    transition: .2s ease-in-out;
    &:hover {
        color: $purple; 
        cursor: pointer; 
        transform-origin: left;
        transform: scale(1.1);
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    color: $purple;
}